html {
  font-size: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  background-color: $white;
  width: auto;
  height: auto;
}

.hide-for-mobile {
  display: none;
}

.fade {
  visibility: hidden;
}
