html {
  font-size: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.wrapper {
  background-color: $white;
  width: 100%;
  height: auto;
  padding: 1rem;
  @include breakpoint-up(large) {
    height: 100vh;
    padding: 2.5rem 10.25rem;
  }
}

.desktop-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  //hide for desktop
  @include breakpoint-up(large) {
    display: none;
  }
}

.fade {
  transform: translate(100%);
}
