.header {
  margin: 1.5rem 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .header__logo {
    display: block;
    height: $font-lg;
    @include breakpoint-up(large) {
      height: $font-xxl;
    }
  }

  .header__links {
    > a {
      margin-left: 2.4rem;
      font-size: $font-lg;
      font-weight: 400;
      color: $navy;
      text-decoration: none;
    }
  }

  .hamburger {
    z-index: 10;
    > span {
      display: block;
      background-color: $black;
      width: 40px;
      height: 3px;
      transition: all 300ms ease-in-out;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
    &.open {
      > span:first-child {
        transform: translateY(14px) rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70vw;
  background-color: $white;
  transition: 0.5s ease-in-out;
  &__links {
    margin: 9rem 0 9rem 1.375rem;
    display: flex;
    flex-direction: column;
    > a {
      font-size: $font-sm;
      font-weight: 700;
      text-decoration: none;
      color: $black;
      line-height: 2.5rem;
    }
  }
}
